<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
			integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
			crossorigin="anonymous"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
			integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
			crossorigin="anonymous"
		></script>
		<title>Document</title>
	</head>
	<body>
	<div class="container mt-5">
		<div class="card bg-info col-md-6 mx-auto">
			<div class="container">
				<div class="row pt-3">
						<!-- 6 column div -->
						<!-- use mx-auto to push elements in the middle-->
					<div class="col-md-12 mx-auto text-white">
						<h2>Please send an email to example@domain.de</h2>
					</div>
				</div>
				<form id="myForm">
					<div class="row">
						<!-- 6 column div -->
						<!-- use mx-auto to push elements in the middle-->
						<div class="col-md-12 mx-auto text-white">
							<div class="form-group">
								<div class="pt-5">
									<label for="subject"><strong>Enter your Subject</strong></label>
									<input type="text" class="form-control" name="subject" id="subject"></input>
								</div>
								<div class="pt-5">
									<label for="textarea"><strong> Enter your Text</strong></label>
									<textarea class="form-control" name="textarea" id="text" rows="6"></textarea>
								</div>
							</div>
							<div class="py-5">
							<button type="submit" class="btn btn-block btn-light">Send Mail</button>
						</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row py-4">
			<!-- 6 column div -->
			<!-- use mx-auto to push elements in the middle-->
			<div class="col-md-6 mx-auto" id="div-alert"></div>
		</div>
	</div>


	<script>


		const myForm = document.getElementById('myForm');

		myForm.addEventListener('submit', (e) => {
			e.preventDefault();

			const subject = document.getElementById('subject').value;
			const text = document.getElementById('text').value;

			fetch('/email', {
				method: 'post',
				headers: {
					Accept: 'application/json',
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					subject: subject,
					text: text
				})
			})
			.then((res) => res.json())
			.then((res) => {
				console.log(res.message);

				let alertDiv = document.getElementById('div-alert');

				let div = document.createElement('DIV');
				div.classList.add('alert', 'alert-success');
				div.innerHTML = res.message;

				alertDiv.appendChild(div);

				setTimeout(() => {
					alertDiv.removeChild(div);
				}, 2000);

				//alert(res.message)
			})
			.catch(function (error) {
				console.error(error);
			});
		});
	</script>

	</body>	
</html>
